
header{
  background : linear-gradient(to bottom,#FBFFB9,#FDD692);
  position: absolute;
  height:  200px;
  width: 100%;
  min-width: 1000px;
  transition : .5s;
}

.head{
  margin: 0;
  padding: 30px 0 30px 0;
  width: 100%;
  text-align: center;
  font-size: 50px;

}
.form{
  text-align: center;
}
.form>*{
  height: 50px;
  font-size: 20px;
}
.selcBtn{
  height: 56px;
  width: 200px;
  border: 2px solid rgb(169, 169, 169);
}
.input{
  width: 350px;
  border: 2px solid rgb(169, 169, 169);
}
.subBtn{
  border: 2px solid rgb(169, 169, 169);
}


.wrapTable{
  width: 95%;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 30px;
}
thead tr td {
  font-weight: bold;
  font-size: 15px;
  margin: 0 2px 0 2px;
}

table{
  margin: auto;
  font-size: 13px;
  text-align: center;
  border-collapse: collapse;
}
th, td {
  border-bottom: 1px solid #444444;
  padding: 10px;
}

body{
  margin : 0;
  min-width: 1000px;
}
