
header{
  background : linear-gradient(to bottom,#FBFFB9,#FDD692);
  position: absolute;
  height:  200px;
  width: 100%;
  min-width: 1000px;
  transition : .5s;
}

.head{
  margin: 0;
  padding: 30px 0 30px 0;
  width: 100%;
  text-align: center;
  font-size: 50px;

}
.form{
  text-align: center;
}
.form>*{
  height: 50px;
  font-size: 20px;
}
.selcBtn{
  height: 56px;
  width: 200px;
  border: 2px solid rgb(169, 169, 169);
  background-color: white;
}
.input{
  width: 350px;
  border: 2px solid rgb(169, 169, 169);
}
.subBtn{
  border: 2px solid rgb(169, 169, 169);
}


.wrapTable{
  width: 95%;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 30px;
}
thead tr td {
  font-weight: bold;
  font-size: 15px;
  margin: 0 2px 0 2px;
}

table{
  margin: auto;
  font-size: 13px;
  text-align: center;
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid #444444;
  padding: 10px 5px 10px 5px;
}

body{
  margin : 0;
  min-width: 1000px;
}

@media screen and (max-device-width : 800px) {
  header{
    height : 160px;
    min-width: 0;
  }
  .head{
    font-size: 30px;
  }
  .wrapTable{
    padding : 160px 0 30px 0;

  }
  .selcBtn{
    height: 50px;
    width: 110px;
  }
  .input{
    width: 150px;
    height: 45px;
  }
   .scale, .num, .adress, .product, .certifications, .InspectionAgency, .collectionDay, .nongyak {
    display: none;
  }
  thead tr td {
    font-size: 14px;
  }

  body{
    margin : 0;
    min-width: 0px;
  }
}
